.card {
    /* width: 250px; */
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form {
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato;
    margin: 3px 0;
}

.blog {
    font-size: 14px;
}

.username, .userbio {
    font-size: 14px;
}

.date {
    font-size: 12px;
}

input, textarea {
    border: none;
    border-bottom: 10z solid gray;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: rgb(172, 169, 169);
}

.submit {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}